:root {
  --cont-width: 1440px;
  --main-color: #000000;
  --second-color: #f4f4f4;
  --third-color: #e9e9e9;
  --main-font-size: 90px;
  --second-font-size: 64px;
  --third-font-size: 20px;
  --fourth-font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
}

/* UTILITY CSS */

.bg-black {
  background-color: var(--main-color);
}

.bg-grey {
  background-color: var(--second-color);
}

.wrapper-container {
  width: 100%;
  overflow: hidden;
}

.pad {
  padding: 0 4rem;
}

/* NAVBAR */

.navbar-container {
  width: 100%;
  max-width: var(--cont-width);
  height: 96px;
  margin: 0 auto;
  background-color: var(--main-color);
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 23px; */
}

.navbar-ul {
  width: 204px;
  height: 43px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 247px;
}

.navbar-link {
  display: flex;
  width: 81px;
  height: 43px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--second-color);
  font-size: var(--third-font-size);
  transition: all 0.6s;
}

.navbar-link:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* HERO */

.hero-container {
  width: 100%;
  max-width: 1231px;
  height: 573px;
  background-color: var(--second-color);
  margin: 0 auto;
  border-radius: 16px;
  margin-bottom: 147px;
  padding-top: 78px;
  padding-right: 1rem;
  position: relative;
  overflow: hidden;
}

.hero-title {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: -0.025em;
  margin-left: 95px;
}

.hero-desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-left: 95px;
  margin-top: 13px;
  position: relative;
  z-index: 1;
}

.hero-btn-container {
  margin-top: 23px;
  margin-left: 95px;
  display: flex;
  height: 44px;
  max-width: 300px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 127px;
  height: 44px;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.2);
  color: var(--second-color);
  text-decoration: none;
  font-size: var(--third-font-size);
  margin-right: 49px;
  transition: all 0.6s;
}

.hero-btn:hover {
  background-color: #454545;
}

.hero-btn-container > div {
  display: flex;
}

.hero-social {
  width: 44px;
  height: 44px;
  background-color: var(--second-color);
  align-self: center;
  margin-right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.6s;
}

.hero-social:hover {
  background-color: #e6e6e6;
}

.hero-social-img {
  width: 100%;
  max-width: 30px;
}

.hero-larry {
  position: absolute;
  width: 641px;
  height: 561px;
  right: -83px;
  top: 139px;
  z-index: 0;
}

/* ABOUT */

.about-container {
  width: 100%;
  max-width: var(--cont-width);
  height: 737px;
  padding-top: 159px;
  margin: 0 auto;
}

.about-wrapper {
  width: 100%;
  max-width: 1257px;
  height: 420px;
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
  background-color: var(--second-color);
}

.about-wrapper-1 {
  padding-top: 30px;
}

.about-wrapper-2 {
  text-align: center;
}

.about-title {
  font-size: var(--second-font-size);
  line-height: 77px;
  letter-spacing: -0.025em;
  text-decoration-line: underline;
  margin-bottom: 43px;
  text-underline-offset: 15px;
}

.about-desc {
  width: 684px;
  font-size: 20px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: -0.02em;
}

.about-img {
  width: 100%;
  max-width: 420px;
}

/* SKILL */

.skill-container {
  width: 100%;
  max-width: var(--cont-width);
  margin: 0 auto;
  padding-top: 99px;
}

.skill-title {
  font-size: var(--second-font-size);
  color: var(--second-color);
  margin-left: 65px;
  margin-bottom: 56px;
}

.skill-wrapper {
  width: 100%;
  max-width: 1112px;
  min-height: 500px;
  background-color: var(--second-color);
  margin: 0 auto;
  border-radius: 16px;
  padding: 58px 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-card {
  width: 220px;
  height: 200px;
  padding: 20px;
  margin-bottom: 50px;
}

.skill-logo-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-wrapper-title {
  font-size: var(--third-font-size);
  color: var(--main-color);
  margin-bottom: 10px;
}

.skill-desc {
  font-size: var(--fourth-font-size);
  line-height: 150%;
  letter-spacing: -0.02em;
  /* overflow-y: scroll; */
  width: 165px;
}

/* PROJECT */

.project-container {
  width: 100%;
  max-width: var(--cont-width);
  margin: 0 auto;
  padding-top: 99px;
}

.project-title {
  font-size: var(--second-font-size);
  margin-left: 56px;
  margin-bottom: 58px;
  color: var(--second-color);
}

.project-wrapper {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 129px;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.project-card {
  width: 558px;
  height: 389px;
  background-color: var(--second-color);
  border-radius: 17px;
  display: flex;
  overflow: hidden;
}

.left-card {
  width: calc(100% - 233px);
  padding: 26px;
  overflow-y: auto;
}

.left-card-title {
  font-size: var(--third-font-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.left-card-desc {
  font-size: var(--fourth-font-size);
  text-align: justify;
  margin-bottom: 11px;
}

.left-icon-wrapper {
  width: 222px;
  height: 48px;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  padding: 6px 13px;
  border-radius: 8px;
  margin-bottom: 46px;
}

.left-icon {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.left-link-wrapper {
  width: 221px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-link {
  width: 99px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-color);
  text-decoration: none;
  font-size: var(--fourth-font-size);
  color: var(--main-color);
  padding: 8px 0;
  border-radius: 5px;
  transition: background-color .3s;
}

.left-link:hover{
    background-color: #d1d1d1;
}

.left-link > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.right-card {
  background-color: var(--third-color);
  width: 233px;
  border-radius: 0px 17px 17px 0px;
}

/* CONTACT */

.contact-container {
  width: 100%;
  max-width: var(--cont-width);
  margin: 0 auto;
  height: 473px;
  padding-top: 90px;
  background-color: var(--second-color);
  position: relative;
}

.contact-title {
  font-size: var(--second-font-size);
  margin-left: 128px;
  margin-bottom: 10px;
  line-height: 77px;
  letter-spacing: -0.025em;
}

.contact-desc {
  font-size: var(--third-font-size);
  font-weight: normal;
  margin-left: 128px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 33px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 127px;
  height: 44px;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.2);
  color: var(--second-color);
  text-decoration: none;
  font-size: var(--third-font-size);
  margin-left: 128px;
  transition: all 0.6s;
}

.contact-img {
  display: block;
  position: absolute;
  left: 780px;
  top: 60px;
  width: 100%;
  max-width: 600px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  /* NAVBAR */
  .navbar-ul {
    margin-right: 135px;
  }

  /* HERO */
  .hero-larry {
    top: 335px;
  }

  /* ABOUT */
  .about-container {
    height: auto;
    padding: 70px 0;
  }
  .about-wrapper {
    margin-left: 0;
    position: relative;
    flex-direction: column-reverse;
    height: auto;
  }
  .about-wrapper-1 {
    padding: 30px;
  }

  .about-title {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
  }
  .about-desc {
    width: 70%;
    margin: 2rem auto 0;
  }
  .about-img {
    max-width: 200px;
  }

  /* PROJECT */
  .project-title {
    margin-left: 0;
    text-align: center;
  }
  .project-card {
    margin-bottom: 2rem;
  }
  .project-wrapper {
    align-items: center;
    justify-content: center;
  }

  /* CONTACT */
  .contact-img {
    top: 216px;
    left: 464px;
  }
}

@media screen and (max-width: 992px) {
  /* NAVBAR */

  .navbar-ul {
    margin-right: 100px;
  }

  /* HERO */

  .hero-container {
    max-width: 860px;
    height: 495px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 79px;
    margin-left: 43px;
  }

  .hero-desc {
    font-size: 17px;
    margin-left: 43px;
  }

  .hero-btn-container {
    margin-left: 43px;
    height: 45px;
  }

  .hero-larry {
    top: 278px;
    width: 570px;
    height: 511px;
  }

  /* ABOUT */
  .about-container {
    height: auto;
    padding: 70px 0;
  }
  .about-wrapper {
    margin-left: 0;
    position: relative;
    flex-direction: column-reverse;
    height: auto;
  }
  .about-wrapper-1 {
    padding: 30px;
  }

  .about-title {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
  }
  .about-desc {
    width: auto;
  }
  .about-img {
    max-width: 200px;
  }

  /* SKILL */
  .skill-title {
    text-align: center;
    margin-left: 0;
  }
  .skill-wrapper {
    border-radius: 0px;
  }

  /* PROJECT */
  .project-title {
    margin-left: 0;
    text-align: center;
  }
  .project-card {
    margin-bottom: 2rem;
  }
  .project-wrapper {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  /* HERO */

  .hero-title {
    font-size: 62px;
    line-height: 70px;
  }

  .hero-desc {
    font-size: 15px;
  }

  .hero-btn-container {
    margin-top: 25px;
    align-items: center;
  }

  .hero-btn {
    width: 90px;
    height: 38px;
  }

  /* ABOUT */
  .about-container {
    height: auto;
    padding: 70px 0;
  }
  .about-wrapper {
    margin-left: 0;
    position: relative;
    flex-direction: column-reverse;
    height: auto;
  }
  .about-wrapper-1 {
    padding: 30px;
  }

  .about-title {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
  }
  .about-desc {
    width: auto;
  }
  .about-img {
    max-width: 200px;
  }

  /* SKILL */
  .skill-title {
    text-align: center;
    margin-left: 0;
  }
  .skill-wrapper {
    border-radius: 0px;
  }

  /* PROJECT */
  .project-title {
    margin-left: 0;
    text-align: center;
  }
  .project-card {
    margin-bottom: 2rem;
  }
  .project-wrapper {
    align-items: center;
    justify-content: center;
  }

  /* CONTACT */
  .contact-container {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 500px;
  }
  .contact-title {
    margin-left: 0;
    line-height: 59px;
    font-size: var(--second-font-size);
    margin-bottom: 21px;
  }
  .contact-desc {
    margin-left: 0;
    line-height: 157%;
    margin-bottom: 19px;
  }
  .contact-button {
    margin-left: 0;
  }

  .contact-img {
    top: 318px;
    left: 193px;
  }
}

@media screen and (max-width: 691px) {
  /* HERO */

  .hero-container {
    padding-right: 2rem;
  }

  .hero-larry {
    display: none;
  }

  br {
    display: none;
  }
}

@media screen and (min-width: 359px) and (max-width: 500px) {
  br {
    display: none;
  }

  .pad {
    padding-left: 0;
    padding-right: 0;
  }

  /* NAVBAR */

  .navbar-container {
    align-items: center;
    justify-content: center;
  }

  .navbar-ul {
    margin-right: 0;
  }

  /* HERO */

  .hero-container {
    border-radius: 0px;
    min-height: 570px;
  }

  /* ABOUT */
  .about-container {
    height: auto;
    padding: 70px 0;
  }
  .about-wrapper {
    margin-left: 0;
    position: relative;
    flex-direction: column-reverse;
    height: auto;
  }
  .about-wrapper-1 {
    padding: 30px;
  }

  .about-title {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
  }
  .about-desc {
    width: auto;
  }
  .about-img {
    max-width: 200px;
  }

  /* SKILL */
  .skill-title {
    font-size: 3rem;
    text-align: center;
    margin-left: 0;
  }
  .skill-wrapper {
    border-radius: 0px;
  }

  /* PROJECT */
  .project-title {
    font-size: 3rem;
    margin-left: 0;
    text-align: center;
  }
  .project-card {
    margin-bottom: 2rem;
  }
  .left-card {
    width: auto;
  }
  .right-card {
    display: none;
  }

  /* CONTACT */
  .contact-container {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 500px;
  }
  .contact-title {
    margin-left: 0;
    line-height: 44px;
    font-size: 3rem;
  }
  .contact-desc {
    margin-left: 0;
    line-height: 157%;
    margin-bottom: 19px;
  }
  .contact-button {
    margin-left: 0;
  }
  .contact-img {
    max-width: 294px;
    left: 126px;
    top: 355px;
  }
}

@media screen and (max-width: 359px) {
  .wrapper-container {
    width: 400px;
  }

  .hero-title{
      font-size: 3rem;
      line-height: 39px;
  }

  .left-card {
    width: auto;
  }

  .right-card {
    display: none;
  }

  .contact-img{
      top: 382px;
      left: 83px;
  }
}
